<h3>Edit a restaurant</h3>
<p *ngFor='let err of errors' class="purple-text">{{ err }}</p>
<div class="editform">
    <form (submit)="editRestaurant(changingRestaurant._id)" #myForm="ngForm">
      <table>
        <tr>
          <td>Restaurant Name:</td>
          <td><input type="text" name="changingRestaurant.name" required minlength="3" [(ngModel)]="changingRestaurant.name" #changingRestaurant.name="ngModel"></td>
        </tr>
        <tr>
          <td>Cuisine Type:</td>
          <td><input type="text" name="changingRestaurant.cuisine" required minlength='3' [(ngModel)]="changingRestaurant.cuisine" #changingRestaurant.cuisine="ngModel"></td>
        </tr>
        <tr>
            <td><button class="cancel" [routerLink]="['']">Cancel</button></td>
            <td><input class="edit"  type="submit" value="Edit"></td>
        </tr>
      </table>
    </form>
</div>
<router-outlet></router-outlet>
